<h1>All Hair Expo Tidbits</h1>

<!-- show all user articles -->
<% @articles.each do |article| %>
<p id="all-articles">
  <a href="/users/:user_id/articles/:id"><%= article.name %></a>
</p><br>
<% end %>

<%= link_to "BACK", user_path(current_user) %>
