<h1>Hair Expo</h1>
<!-- p: description of community -->


<!-- round divs: demo tidbit -->



<!-- links to log in & sign up  -->
<%= link_to "LOG IN", "/login" %> | <%= link_to "SIGN UP", "/users/new" %>
